*{
    list-style: none;
    margin:0; 
    padding:0; 
    text-decoration:none; 
    color:black;
    font-weight:normal;
    font: size 16px;
}

body{
    color:blue;
    margin: 20px;
    text-align: left;
    font-size: 24px;
    padding: 24px;
    font-weight: 700;
    background-color:white;
    border: 1px solid black;
}
h1{
    color: red;
}
h2{
    color: blue;
}
h3{
    color: yellow;
}
h4{
    color: pink;
}
h5{
    color: black;
}
h6{
    color: brown;
}
p{
    color: red;
    padding: 16px;
}
#first{
    color: black;
    font-size: 24px;
}
#second{
    color: blue;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospaces;
}
#first strong{
    font-weight: 900;
}